<html>
    <head>
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://arewegrillin.lol">
        <meta property="og:title" content="IS BABEHAUS GRILLIN?">
        <meta property="og:description" content="{{ status }}">
        <meta property="og:image" content="{{ image_url }}">
        <title>ARE WE GRILLIN?</title>
        <style>
            img {
                width: 80%;
                height: auto;
            }

            .content {
                align: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <h1>ARE WE GRILLIN?</h1>
            <span>{{ status }}</span>
            <img src={{ image_url }}>
        </div>
    </body>
</html>
